body{
    place-items: center;
    background-repeat:repeat;
    background-image:"OIP (1).jpeg" ;
    background-size: cover;
    background-attachment:fixed;
}
div{
    place-items: 50% 100%;
}
.ABC{
    color: rgb(0, 255, 42);
    text-align: center;
    
}
.nav-1{
    background-color: #000000;
    padding: 500px;
    border: 10px;
    border-color: green;
}
nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}
nav ul li a:hover{
    background-color: #575757;
    border-radius: 5px;
}
.test6{
    color: white;
    background-color: #af1a07;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}
.abc{
    font-style: italic;
}